* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'SST', sans-serif;
    background-color: #FFEEF2;
    padding-top: 7vh;
}


header {
    background-color: #97264C;
    height: 7vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}



h1{
    font-weight: bold;
    color: white;
    padding-left: 20px;
    line-height: 7vh;
    text-align: center;

}

.nav-page-header a{
    text-decoration: none;
    color: white;
}

.nav-page-header a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #f8d4dd;
}
.nav-page-header a.active {
    text-decoration: underline;
    font-weight: bold;
    color: #f8d4dd;
}

.nav-page-header ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    color: white;
    right: 20px;
    height: 7vh;
    margin: 0;
    padding-right: 20px;
    }

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("/portfolio/assets/achtergrond voor website.png");
    background-size: cover;
    background-position: center;
    height: 77vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    flex-direction: column;
}

.banner p{
    font-weight: normal;
    color: #FFEEF2;
}

main {
    margin: 120px auto;
    max-width: 900px;
    text-align: center;
}

h2{
    font-weight: bold;
    color: #5b0213;
    text-align: left;
    margin: 0 auto 20px;
}

.intro {
    display: flex;
    align-items: center;
    gap: 40px; /* ruimte tussen foto en tekst */
    margin: 60px 20px;
}



.intro-photo img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
}

.intro-text {
    max-width: 600px;
    text-align: left;
}


.kernwaarden {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 60px 0;
}

.flip-card {
    width: 200px;
    height: 200px;
    perspective: 1000px;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}


.flip-card-front {
    background-color: #97264C;  /* zacht, warm */
    color: white;
}

.flip-card-back {
    background-color: white;
    color: #97264C;
    transform: rotateY(180deg);
}

.flip-card h3 {
    font-size: 1.1rem;
}

.flip-card p {
    font-size: 0.9rem;
    line-height: 1.4;
}

footer{
    background-color: #97264C;
    color: white;

}

.hobby-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 20px auto;
}

.hobby-card {
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    height: 150px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.hobby-card:hover {
    transform: scale(1.05);
}

.hobby-card img{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    padding: 4px;
}


