* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'SST', sans-serif;
    background-color: #FFEEF2;
    padding-top: 7vh;
}


header {
    background-color: #97264C;
    height: 7vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-page-header a{
    text-decoration: none;
    color: white;
}

.nav-page-header a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #f8d4dd;
}
.nav-page-header a.active {
    text-decoration: underline;
    font-weight: bold;
    color: #f8d4dd;
}

.nav-page-header ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    color: white;
    right: 20px;
    height: 7vh;
    margin: 0;
    padding-right: 20px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #97264C;
    font-size: 40px;
    font-weight: bold;
    margin: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
}

.fotografieThema\'s {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

.fotografieThema\'s li {
    padding: 10px 18px;
    border-radius: 25px;
    background-color:  #97264C;
    color: white;
}

.fotografieThema\'s li:hover {
    background-color: #e58ca3;
    color: white;
}


h2 {
    font-weight: bold;
    color: #5b0213;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    border-bottom: 4px solid #e58ca3;
    padding-bottom: 8px;
}

h3{
    color: #97264C;
    margin-top: 30px;
}

p {
    line-height: 1.6;
    margin-bottom: 1rem;
}


.slider {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: 2rem auto;
}

.slider img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    margin-bottom: 20px;
}

.slider button {
    position: absolute;
    top: 50%;
    color: white;
    border: none;
    font-size: 28px;
    padding: 8px 14px;
}

.slider button:hover {
    background: rgba(0,0,0,0.8);
}

.slider .prev {
    left: 10px;
    background: none;

}

.slider .next {
    right: 10px;
    background: none;
}

.Rosenheim{
    display: flex;
    height: 250px;
    gap: 20px;
    margin-bottom: 20px;
}

.Rosenheim img{
    border-radius: 20px;
}


.bachelorproef{
    display: flex;
    height: 250px;
    gap: 20px;
    margin-bottom: 20px;
}

.bachelorproef img{
    border-radius: 20px;
}

.bachelorproef p{
    display: flex;
    align-items: center;
}

.gedicht {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    max-width: 500px;
    margin-bottom: 20px;
}

.gedicht p {
    font-style: italic;
    color: #322f2f;
}

.uitnodiging {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.uitnodiging p{
    margin-bottom: 0;
}

.uitnodiging-image img {
    width: 300px;
    height: auto;
    display: block;
    border-radius: 10px;
    object-fit: cover;
}











