* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'SST', sans-serif;
    background-color: #FFEEF2;
    padding-top: 7vh;
}


header {
    background-color: #97264C;
    height: 7vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-page-header a{
    text-decoration: none;
    color: white;
}

.nav-page-header a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #f8d4dd;
}

.nav-page-header a.active {
    text-decoration: underline;
    font-weight: bold;
    color: #f8d4dd;
}

.nav-page-header ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    color: white;
    right: 20px;
    height: 7vh;
    margin: 0;
    padding-right: 20px;
}


h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #97264C;
    font-size: 40px;
    font-weight: bold;
    margin: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.opleidingen {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.opleidingen h2 {
    text-align: left;
    margin: 40px 0 30px 190px;
    font-weight: bold;
    color: #5b0213;
    display: inline-block;
    border-bottom: 4px solid #e58ca3;
    padding-bottom: 8px;
}


.opleidingen h2,
.opleidingen p {
    text-align: left;
    margin: 20px 0;
}


.opleiding-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.opleiding {
    width: 150px;
    height: 150px;
    background-color: #97264C;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.opleiding:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.work{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-bottom: 0;
}

.work img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}
.experience-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 360px;
    height: 370px;
    border-radius: 30px;
    background: rgba(151, 38, 76, 0.20);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 15px;
}


.experience-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.experience-card h3{
    color: #97264C;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.experience-card p{
    color: #262525;
    margin-top: 10px;
    margin-bottom: 2px;
}



.card-footer {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 5px;
}





